{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }}Admin
{% endblock %}


{% block css %}
<link rel="stylesheet/less" href="/assets/css/adminHomePage.less">
{% endblock %}

{% block body %}
<div class="container">
    <div class="back">
        <a href="/"><img src="/assets/img/back-100.png" alt="" class="back-btn"></a>
    </div>
    <div class="questions box">
        <h1>Questions</h1>
        <p>Nombres de questions</p>
        <h4>{{nbrOfQuestions}}</h4>
        <a href="/admin/question/questions">Aller</a>
    </div>
    <div class="users box">
        <h1>Utilisateurs</h1>
        <p>Nombres d'utilisateurs</p>
        <h4>{{nbrOfUsers}}</h4>
        <a href="/admin/users" class="btn">Aller</a>
    </div>

</div>
{% endblock %}