{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}Jeu
{% endblock %}


{% block css %}
	<link rel="stylesheet/less" href="/assets/css/begin.less">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endblock %}


{% block body %}
	<div class="land">

		<div class="pseudo">
			<label for="pseudo">Pseudo</label>
			<input type="text" name="pseudo" id="pseudo">
			<label for="color">Choisissez une couleur</label>

			<select name="color" id="color">
				<option value="blue">Bleu</option>
				<option value="yellow">Jaune</option>
				<option value="red">Rouge</option>
				<option value="green">Vert</option>
				<option value="purple">Violet</option>
				<option value="brown">Brun</option>

			</select>
		</div>

		<div class="pseudo">
			<label for="pseudo">Pseudo</label>
			<input type="text" name="pseudo" id="pseudo">
			<label for="color1">Choisissez une couleur</label>

			<select name="color1" id="color1">
				<option value="blue">Bleu</option>
				<option value="yellow">Jaune</option>
				<option value="red">Rouge</option>
				<option value="green">Vert</option>
				<option value="purple">Violet</option>
				<option value="brown">Brun</option>

			</select>
		</div>

	</div>
{% endblock %}
{% block bottom_js %}
	<script>
		function checkTheDropdowns() {
var arr = $('select').find(':selected');
$('select').find('option').show();
$.each($('select'), function () {
var self = this;
var selectVal = $(this).val();
$.each(arr, function () {
if (selectVal !== $(this).val()) {
$(self).find('option[value="' + $(this).val() + '"]').hide()
} else {
$(self).find('option[value="' + $(this).val() + '"]').show()
}
});
})
};
checkTheDropdowns();
$('select').on('change', checkTheDropdowns);
	</script>
{% endblock %}
