{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }}Créer ou Joindre une partie
{% endblock %}


{% block css %}
<link rel="stylesheet/less" href="/assets/css/createGame.less">

{% endblock %}


{% block body %}
<div class="container">
	<div class="back">
		<a href="/"><img src="/assets/img/back-100.png" alt="" class="back-btn"></a>
	</div>
	<div class="users box">
		<h1>Créer une nouvelle partie</h1>
		<p>Inserez les usernames des joueurs:</p>
		<div class="fields">
			<div class="field">
				<div class="autocomplete">
					<input type="text" name="username" placeholder="Username" autocomplete="off">
					<div class="autocomplete-items">

					</div>
				</div>
				<select name="color" id="color">
					<option value="blue">Bleu</option>
					<option value="yellow">Jaune</option>
					<option value="red">Rouge</option>
					<option value="green">Vert</option>
					<option value="purple">Violet</option>
					<option value="brown">Brun</option>
				</select>

			</div>
			<div class="field">
				<div class="autocomplete">
					<input type="text" name="username" placeholder="Username" autocomplete="off">
					<div class="autocomplete-items">

					</div>
				</div>
				<select name="color" id="color">
					<option value="yellow">Jaune</option>
					<option value="blue">Bleu</option>
					<option value="red">Rouge</option>
					<option value="green">Vert</option>
					<option value="purple">Violet</option>
					<option value="brown">Brun</option>

				</select>
			</div>

		</div>
		<img src="/assets/img/icon-add.png" id="add">
		<button class="btn">Créer</button>
	</div>

</div>
{% endblock %}


{% block bottom_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
	function checkTheDropdownsColor() {
		var arr = $('select').find(':selected');
		$('select').find('option').show();
		$.each($('select'), function() {
			var self = this;
			var selectVal = $(this).val();
			$.each(arr, function() {
				if (selectVal !== $(this).val()) {
					$(self).find('option[value="' + $(this).val() + '"]').hide()
				} else {
					$(self).find('option[value="' + $(this).val() + '"]').show()
				}
			});
		})
	};
	checkTheDropdownsColor();
	$('select').on('change', checkTheDropdownsColor);


	// generate new field
	let nbrField = 2
	let addBtn = document.getElementById("add")
	addBtn.addEventListener('click', (e) => {
		if (nbrField < 6) {

			let field = document.createElement('div')
			field.setAttribute('class', 'field')

			field.innerHTML = `
				<div class="autocomplete">
					<input type="text" name="username" placeholder="Username" autocomplete="off">
					<div class="autocomplete-items">

					</div>
				</div>
				<select name="color" id="color">
					<option value="yellow">Jaune</option>
					<option value="blue">Bleu</option>
					<option value="red">Rouge</option>
					<option value="green">Vert</option>
					<option value="purple">Violet</option>
					<option value="brown">Brun</option>

				</select>
  `
			let fields = document.querySelector('.fields')
			fields.appendChild(field)
			nbrField++
			checkTheDropdownsColor();
		}
	})
</script>
<script type="text/javascript" src="/js/createGame.js"></script>
{% endblock %}