@primary-color: #14112c;
@secondary-color: #4e45ab;
@third-color: #235ec5;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 241, 241);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.allpage {
    display: flex;
    width: 100vw;
}

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: rgb(255, 255, 255);
    a{
        text-decoration: none;
        color: black;
    }
    .back {
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 5;
        width: 42px;
        height: 42px;

        img {
            height: 100%;
            width: 100%;

        }
    }

    .admin {
        display: flex;
        margin-left: 20px;
        padding-top: 100px;
        align-items: center;
        padding-bottom: 40px;

        img {
            width: 40px;
            height: auto;
            margin-right: 20px;
        }

        h4 {
            font-size: 20px;
        }
    }

    .users,
    .question,
    .answers {
        display: flex;
        margin-left: 10px;
        align-content: space-around;
        align-items: center;
        padding: 10px;
        transition: 0.4s;
        margin-right: 10px;
        border-radius: 10px;

        &:hover {
            background-color: rgb(235, 235, 235);
        }

        h4 {
            font-weight: lighter;
        }

        img {
            width: 35px;
            height: auto;
            margin-right: 20px;
        }
    }

    .active {
        background-color: #235ec5;
        color: white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.247);

        &:hover {
            background-color: #235ec5;
            color: white;
            transform: scale(1.03);
        }
    }
}

.gestion {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;

    .titleadd {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    h3 {
        margin-top: 50px;
        margin-left: 50px;
        font-size: 30px;
        color: black;
        margin-bottom: 30px;
    }

    .add {
        width: 50px;
        height: 50px;
        transition: 0.4s;
        margin-right: 30px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .users {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.247);
        border-collapse: collapse;
        margin-top: 1%;
        width: 100%;
    }


    .users td,
    .users th {
        border-bottom: 1px solid white;
        padding: 8px;
        font-weight: lighter;
    }

    .users tr {
        background-color: #ffffff;
        transition: 0.4s;
        border-bottom: 1.5px solid rgb(218, 218, 218);
    }

    .users tr:hover {
        background-color: rgb(241, 241, 241);
    }

    .users th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2e1c5f;
        color: white;
    }

    .tache {
        display: flex;
        justify-content: space-around;

        .update{
            background-color: @third-color;
            &hover{
                background-color: #1a4897;
            }
        }
        .delete{
            background-color: red;
            &hover{
                background-color: rgb(167, 0, 0);
            }
        }
        .addans{
            background-color: rgb(0, 187, 62);
            &hover{
                background-color: rgb(0, 122, 20);
            }
        }
        .update, .delete, .addans{
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: 5px;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            text-align: center;
            &:hover {
                transform: scale(1.1);
            }
            .imgupdate, .imgdelete, .imgadd{
            width: 80%;
            height: 80%;
            }

            a{
                text-decoration: none;
            }
        }
    }

}